<!doctype html>
<html>
  <head>
    <title>Index</title>
    <h1>Index</h1>
  </head>

  <form action="/checkout" method="post">
    Item to purchase: <input type="text" name="item" id="item">
    <input type="submit" id="submit">
  </form>

  <body><h2> </h2>
  </body>
